body{
    .RPS-home{
        display: block;
        min-height: 100vh;
        width: 100%;
        background-image: url("../img/RPS-BG.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        .game-wraper{
            display: flex;
            justify-content: center;
            align-items: center;
            .controll-bar{
                display: block;
                height: 240px;
                width: 80px;
                background-color: rgba(29, 29, 29, 0.74);
                border-radius: 12px;
                bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .play-btn{
                    height: 58px;
                    width: 58px;
                    outline-style: none;
                    border-radius: 50%;
                    display: block;
                    padding: 0px;
                    cursor: pointer;
                    box-shadow: 0px 0px 14px #00000073;
                    transition: all 0.2s ease-in-out;
                    img{
                        height: inherit;
                        width: inherit;
                    }
                }
                .play-btn:hover{
                    transform: scale(1.2);
                }
            }
    
            .game-field{
                display: block;
                height: 100vh;
                width: 800px;
                display: flex;
                justify-content: center;
                align-items: center;
                .player-wraper{
                    display: block;
                    height: 100vh;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: burlywood;
                    .player-comment-box{
                        display: block;
                        background-color: aqua;
                        height: 300px;
                        width: 300px;
                        padding-top: 50px;
                        .comment{
                            height: 200px;
                            width: 300px;
                            background-color: #ffffff;
                            // border: 6px solid rgb(29, 29, 29);
                            padding: 2em;
                            border-radius: 50%;
                            position: relative;
                            p{
                                font-size: 1.2rem;
                                text-align: center;
                                font-weight: 600;
                            }
                            .comment-arrow{
                                height: 100px;
                                width: 40px;
                                background-color: #ffffff;
                                clip-path: polygon(50% 100%, 0 0, 100% 0);
                                // border: 6px solid rgb(29, 29, 29);
                                position: absolute;
                                bottom: -40px;
                                rotate: -10deg;
                            }
                        }
                    }
                    .player{
                        display: block;
                        background-color: brown;
                        height: 350px;
                        width: 300px;
                        margin-bottom: 60px;
                    }
                }
            }
        }
        
    }
}