body{
    .RPS-home{
        display: block;
        min-height: 100vh;
        width: 100%;
        background-image: url("../img/RPS-BG.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: bottom;
        .game-wraper{
            display: flex;
            justify-content: center;
            align-items: center;
            .controll-bar{
                display: block;
                height: 240px;
                width: 80px;
                background-color: rgba(29, 29, 29, 0.705);
                border-radius: 12px;
                bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;
                .play-btn{
                    height: 58px;
                    width: 58px;
                    outline-style: none;
                    border-radius: 50%;
                    display: block;
                    padding: 0px;
                    cursor: pointer;
                    box-shadow: 0px 0px 14px #00000073;
                    transition: all 0.2s ease-in-out;
                    img{
                        height: inherit;
                        width: inherit;
                    }
                }
                .play-btn:hover{
                    transform: scale(1.2);
                }
            }
    
            .game-field{
                display: block;
                height: 100vh;
                width: 800px;
                display: flex;
                justify-content: center;
                align-items: center;
                .player-wraper{
                    display: block;
                    height: 100vh;
                    width: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: flex-end;
                    align-items: center;
                    // background-color: burlywood;
                    .player-comment-box{
                        display: block;
                        // background-color: aqua;
                        height: 300px;
                        width: 300px;
                        padding-top: 50px;
                        display: flex;
                        justify-content: center;
                        align-items: flex-end;
                        .comment{
                            display: block;
                            p{
                                display: block;
                                font-size: 1.2rem;
                                text-align: center;
                                font-weight: 400;
                                padding: 1em;
                            }
                        }
                        .coment-left{
                            background: url("../img/comment-design-left.svg");
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            height: 160px;
                        }
                        .coment-right{
                            background: url("../img/comment-design-right.svg");
                            background-size: contain;
                            background-position: center;
                            background-repeat: no-repeat;
                            height: 160px;
                        }
                    }
                    .player-box{
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: brown;
                        height: 350px;
                        width: 300px;
                        margin-bottom: 60px;
                        .player-hands{
                            background-color: chartreuse;
                            width: 100px;
                            height: 100px;
                        }
                        .player{
                            background-color: darkmagenta;
                            width: 200px;
                            height: 350px;
                        }
                    }
                }
            }
            .score-board{
                display: block;
                height: 240px;
                width: 200px;
                background-color: rgba(29, 29, 29, 0.705);
                border-radius: 12px;
                bottom: 20px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding: 0.8em;
                .score-box{
                    h3{
                        margin-bottom: 0.2rem;
                    }
                    span{
                        font-size: 2.8rem;
                        font-weight: 700;
                    }
                }
                .h-player-score{
                    text-align: center;
                    color: #1fcbff;
                    margin-bottom: 1rem;
                }
                .b-player-score{
                    text-align: center;
                    color: #ffdd1f;
                }
            }
        }
        
    }
}